{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %} 
    <!-- <div class='col-md-2'></div>              -->
    <div class='col-md-12'>        
        
        {{ wtf.quick_form(form,button_map={'modify_contract': 'primary','modify_inv_group':'primary','modify_itn':'primary'},id='modify_form') }} 
        <!-- <input class="btn btn-danger" type="submit" value="Apply Changes" id="apply_changes" onclick="test()"> -->
    </div> 
    <!-- <div class='col-md-2'> </div>     -->
    
    
{% endblock %}

{% block form_scripts %}

    <script type="text/javascript">
        // const contract_tk = document.getElementById('contract_tk');
        
        const search_field = document.getElementById('search');
        const search_by_itn = document.getElementById('search_by_itn');
        const start_date = document.getElementById('start_datepicker');
        const end_date = document.getElementById('end_datepicker');
        // search_field.value = 'ТК'
        const contracts = document.getElementById('contracts');
        
        const invoice_groups = document.getElementById('invoice_groups');
        const itns = document.getElementById('itns'); 

        const mod_contract_button = document.getElementById('modify_contract');
        const mod_inv_group_button = document.getElementById('modify_inv_group'); 
        const mod_itn_button = document.getElementById('modify_itn');

        
        mod_contract_button.disabled = true;
        mod_inv_group_button.disabled = true;
        mod_itn_button.disabled = true;

        const values = document.querySelectorAll('option')  

        init()

        function init(){            
            if(search_field.value !== ''){
                searching()
                
            }                 
        }

        search_field.onclick = () =>{
            if(document.getElementById('msg_close') !== null){
                document.getElementById('msg_close').click(); 
            }
        }

        search_field.onkeyup = () => searching()
      
        
       
        invoice_groups.onchange = function(){

            const invoice_group_name = invoice_groups.value;
            updateItns(invoice_group_name);
            
            mod_inv_group_button.disabled = false;
            
        };       

        contracts.onclick = function(){
            updateInvGroups(contracts.value);
            
            itns.innerHTML = ""; 
            mod_contract_button.disabled = false;   
            if(document.getElementById('msg_close') !== null){
                document.getElementById('msg_close').click(); 
            }         
                       
        };

        itns.onchange = function(){
            
            mod_itn_button.disabled = false;
        };

        itns.onblur = function(){
            
            mod_itn_button.disabled = false;
        };

        function updateInvGroups(contract_id){

            console.log('in updateInvGroups')
            
            fetch('/_get_inv_groups/' + contract_id).then(function(response){
                response.json().then(function(data){
                    let optionHTML = ''
                    let count = 0;
                    for(let group of data.groups){ 

                        if(search_by_itn.value !== ''){
                            updateItns(group.invoice_group)                            
                        }                                          
                        optionHTML += '<option value="' + group.invoice_group + '">' + group.invoice_group + ' - ' + group.invoice_group_description + ' - ' + group.email + '</option>';
                        count += 1;
                    }                                  
                    invoice_groups.size = count;
                    invoice_groups.innerHTML = optionHTML;                     
                    initBackground()               
                });               
            });            
        };

        // function filter_inv_by_itn(){
        //     console.log('in filter_inv_by_itn', invoice_groups.value)
        //     fetch('/_get_itns/' + invoice_groups.value).then(function(response){
                
        //         response.json().then(function(data){
        //             for(let itn of data.itns){
        //                 values.forEach(value => {
        //                     console.log('itn ->',itn, 'value -->', value)
        //                 })
        //             }
                                     
        //         });
        //     }); 

        // }

        function updateItns(invoice_group_name){

            console.log('in updateItns')
            
            fetch('/_get_itns/' + invoice_group_name).then(function(response){
                
                response.json().then(function(data){
                    
                    let optionHTML = '';
                    let count = 0;
                    for(let itn of data.itns){ 
                        if(search_by_itn.value !== ''){ 
                            if(search_by_itn.value === itn.itn){ 
                                console.log('in itn === itn', itn.itn)                                               
                                optionHTML += '<option value="' + itn.itn + '">' + itn.itn + ' - ' + itn.address + ' - ' + itn.invoice_group + ' - ' + itn.type + '</option>';
                                count += 1; 
                                values.forEach(value => {
                                    console.log(value.firstChild.textContent)
                                    // if(!value.firstChild.textContent.toLowerCase().includes(key_word)){
                                    //     value.style = 'display:none'
                                    //     counter--;
                                    //     // if(counter === 0){
                                    //     //     contracts.value = ''
                                    //     // }
                                    // }else{
                                    //     value.style = 'block'                
                                    // }

                                })                   
                                
                            }
                        }else{
                            console.log('in else ') 
                            optionHTML += '<option value="' + itn.itn + '">' + itn.itn + ' - ' + itn.address + ' - ' + itn.invoice_group + ' - ' + itn.type + '</option>';
                            count += 1;
                        }
                    }
                    if(count >30){
                        count = 30;
                    }                    
                    itns.size = count;
                    console.log('in innerHTML ',optionHTML)
                    if(optionHTML !== ''){
                        itns.innerHTML = optionHTML; 
                        
                    }   
                    initBackground()                             
                });              
            });            
        }; 

        function modifyInvGroup(){
            console.log('in modifyInvGroup') 
            search_field.value === '' ? search_field.value = 'none' : search_field.value = search_field.value            
            window.location.href = `/modify_inv_group/${invoice_groups.value}/${search_field.value}`         
        }

        function modifyItn(){
            console.log('in modifyItn',itns.value)
            search_field.value === '' ? search_field.value = 'none' : search_field.value = search_field.value             
            window.location.href = `/modify_itn/${itns.value}/${search_field.value}`            
        }

        contracts.ondblclick = () =>{    
                     
            document.getElementById('modify_contract').click()                       
        }

        invoice_groups.ondblclick = () =>{             
            document.getElementById('modify_inv_group').click()                       
        }

        itns.ondblclick = () =>{             
            document.getElementById('modify_itn').click()                       
        }
        
        function searching(){
            mod_contract_button.disabled = true;
            console.log(search_field.value)
            let counter = 0;
            const key_word = search_field.value.toLowerCase()
            // values.forEach(value => value.style = 'block')        
            values.forEach(value => {
                counter++;
                if(!value.firstChild.textContent.toLowerCase().includes(key_word)){
                    value.style = 'display:none'
                    counter--;
                    // if(counter === 0){
                    //     contracts.value = ''
                    // }
                }else{
                    value.style = 'block'                
                }
                
            });
            if(counter === 1){                
                contracts.value = ''
            };
            if(counter >15){
                counter = 15;
            }   
            contracts.size = counter;
            console.log(contracts.size)
        }

        search_by_itn.onchange = () => { 
                        
            mod_contract_button.disabled = true;
            const is_id = 0            
            
            fetch(`/_get_subcontracts/${start_date.value}/${end_date.value}/${search_by_itn.value}/${is_id}`).then(function(response){                
                response.json().then(function(data){             
                    for(let sub of data){              
                        search_field.value = sub.contract.invoicing_label              
                    }                   
                    searching()             
                    initBackground()                              
                });
            })
            .catch(error => console.log('in error',error) );                       
        };
    </script>


{% endblock %}

