{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %} 
    <!-- <div class='col-md-2'></div>              -->
    <div class='col-md-12'>        
        <h1>{{header|safe}}</h1> 
        {{ wtf.quick_form(form,button_map={'modify_contract': 'primary','modify_inv_group':'primary','modify_itn':'primary'},id='modify_form') }} 
        <!-- <input class="btn btn-danger" type="submit" value="Apply Changes" id="apply_changes" onclick="test()"> -->
    </div> 
    <!-- <div class='col-md-2'> </div>     -->
    
    
{% endblock %}

{% block form_scripts %}

    <script type="text/javascript">
        // const contract_tk = document.getElementById('contract_tk');
        
        const search_field = document.getElementById('search');
        const search_by_itn = document.getElementById('search_by_itn');
        const start_date = document.getElementById('start_datepicker');
        const end_date = document.getElementById('end_datepicker');
        // search_field.value = 'ТК'
        const contracts = document.getElementById('contracts');
        const sub_contracts = document.getElementById('sub_contracts');
        const sub_contracts_all = document.getElementById('sub_contracts_all');
        
        const invoice_groups = document.getElementById('invoice_groups');
        const itns = document.getElementById('itns'); 

        const mod_contract_button = document.getElementById('modify_contract');
        const mod_inv_group_button = document.getElementById('modify_inv_group'); 
        const mod_itn_button = document.getElementById('modify_itn');

        
        mod_contract_button.disabled = true;
        mod_inv_group_button.disabled = true;
        mod_itn_button.disabled = true;

        const values = document.querySelectorAll('option')  

        init()

        function init(){            
            // if(search_field.value !== ''){
            //     searching()                
            // } 
            search_by_itn.value = ''
            search_field.value = ''
            // start_date.value = ''
            // end_date.value = ''
        }

        search_field.onclick = () =>{
            search_field.value = ''
            if(document.getElementById('msg_close') !== null){
                document.getElementById('msg_close').click(); 
            }
        }

        search_field.onkeyup = () => searching()
      
        start_date.onblur = () => searching()
        
        invoice_groups.onchange = function(){

            const invoice_group_name = invoice_groups.value;
            updateItns(invoice_group_name);
            
            mod_inv_group_button.disabled = false;
            
        };       

        contracts.onclick = function(){
            if(search_by_itn.value !== ''){
                updateSubContracts(contracts.value, search_by_itn.value);
            }            
            updateInvGroups(contracts.value);
            
            itns.innerHTML = ""; 
            mod_contract_button.disabled = false;   
            if(document.getElementById('msg_close') !== null){
                document.getElementById('msg_close').click(); 
            } 
            // initBackground()          
                       
        };

        itns.onchange = function(){
            
            mod_itn_button.disabled = false;
        };

        itns.onblur = function(){
            
            mod_itn_button.disabled = false;
        };

        function updateInvGroups(contract_id){

            // console.log('in updateInvGroups')
            
            fetch('/_get_inv_groups/' + contract_id).then(function(response){
                response.json().then(function(data){
                    let optionHTML = ''
                    let count = 0;
                    for(let group of data.groups){ 

                        if(search_by_itn.value !== ''){
                            updateItns(group.invoice_group)                            
                        }                                          
                        optionHTML += '<option value="' + group.invoice_group + '">' + group.invoice_group + ' - ' + group.invoice_group_description + ' - ' + group.email + '</option>';
                        count += 1;
                    }                                  
                    invoice_groups.size = count;
                    invoice_groups.innerHTML = optionHTML;                     
                    // initBackground()               
                });               
            });            
        };

        function updateSubContracts(contract_id, itn){

            // console.log('in updateSubContracts')

            fetch(`/_get_all_subcontracts/${contract_id}/1`).then(function(response){
                response.json().then(function(data){
                    let optionHTML = ''
                    let count = 0;
                    for(let sub of data){ 
                        
                        // if(search_by_itn.value !== ''){
                        //     updateItns(group.invoice_group)                            
                        // }                                          
                        optionHTML += '<option value="' + sub.itn + ' - ' + sub.start_date + '">' + sub.itn + ' - ' + sub.start_date + ' - ' + sub.end_date + '</option>';
                        count += 1;
                    }                                  
                    sub_contracts.size = count;
                    sub_contracts.innerHTML = optionHTML;                     
                                 
                });               
            }); 

            fetch(`/_get_all_subcontracts/${itn}/0`).then(function(response){
                response.json().then(function(data){
                    let optionHTML = ''
                    let count = 0;
                    for(let sub of data){ 
                        
                        // if(search_by_itn.value !== ''){
                        //     updateItns(group.invoice_group)                            
                        // }                                          
                        optionHTML += '<option value="' + sub.itn + ' - ' + sub.start_date + '">' + sub.itn + ' - ' + sub.start_date + ' - ' + sub.end_date + ' - ' +sub.contract.internal_id + '</option>';
                        count += 1;
                    }                                  
                    sub_contracts_all.size = count;
                    sub_contracts_all.innerHTML = optionHTML;                     
                    //                
                });               
            }); 
            // initBackground()                 
        };

        // function filter_inv_by_itn(){
        //     console.log('in filter_inv_by_itn', invoice_groups.value)
        //     fetch('/_get_itns/' + invoice_groups.value).then(function(response){
                
        //         response.json().then(function(data){
        //             for(let itn of data.itns){
        //                 values.forEach(value => {
        //                     console.log('itn ->',itn, 'value -->', value)
        //                 })
        //             }
                                     
        //         });
        //     }); 

        // }

        function updateItns(invoice_group_name){

            // console.log('in updateItns')
            
            fetch('/_get_itns/' + invoice_group_name).then(function(response){
                
                response.json().then(function(data){
                    
                    let optionHTML = '';
                    let count = 0;
                    for(let itn of data.itns){ 
                        if(search_by_itn.value !== ''){ 
                            if(search_by_itn.value === itn.itn){ 
                                // console.log('in itn === itn', itn.itn)                                               
                                optionHTML += '<option value="' + itn.itn + '">' + itn.itn + ' - ' + itn.address + ' - ' + itn.invoice_group + ' - ' + itn.type + '</option>';
                                count += 1; 
                                
                            }
                        }else{
                            // console.log('in else ') 
                            optionHTML += '<option value="' + itn.itn + '">' + itn.itn + ' - ' + itn.address + ' - ' + itn.invoice_group + ' - ' + itn.type + '</option>';
                            count += 1;
                        }
                    }
                    if(count >30){
                        count = 30;
                    }                    
                    itns.size = count;
                    // console.log('in innerHTML ',optionHTML)
                    if(optionHTML !== ''){
                        itns.innerHTML = optionHTML; 
                        
                    }   
                    initBackground()                             
                });              
            }); 
                       
        }; 

        function modifyInvGroup(){
            // console.log('in modifyInvGroup') 
            search_field.value === '' ? search_field.value = 'none' : search_field.value = search_field.value            
            window.location.href = `/modify_inv_group/${invoice_groups.value}/${search_field.value}`         
        }

        function modifyItn(){
            // console.log('in modifyItn',itns.value)
            search_field.value === '' ? search_field.value = 'none' : search_field.value = search_field.value             
            window.location.href = `/modify_itn/${itns.value}/${search_field.value}`            
        }

        contracts.ondblclick = () =>{    
                     
            document.getElementById('modify_contract').click()                       
        }

        invoice_groups.ondblclick = () =>{             
            document.getElementById('modify_inv_group').click()                       
        }

        itns.ondblclick = () =>{             
            document.getElementById('modify_itn').click()                       
        }
        
        function searching(){
            mod_contract_button.disabled = true;
            // console.log('in searching - search_field',search_field.value)
            let counter = 0;
            const key_word = search_field.value.toLowerCase()
            // values.forEach(value => value.style = 'block')        
            values.forEach(value => {
                counter++;
                if(!value.firstChild.textContent.toLowerCase().includes(key_word)){
                    value.style = 'display:none'
                    counter--;
                    // if(counter === 0){
                    //     contracts.value = ''
                    // }
                }else{
                    value.style = 'block'                
                }
                
            });
            if(counter === 1){                
                contracts.value = ''
            };
            if(counter >15){
                counter = 15;
            }   
            contracts.size = counter;
            // console.log(contracts.size)
            // initBackground() 
        }

        search_by_itn.onchange = () => { 
            // console.log('in search by itn') 
            searching_by_itn()             
        };

        search_by_itn.ondblclick = () => { 
            // console.log('in search by itn ondblclick') 
            searching_by_itn() 
                 
        };

        function searching_by_itn(){
            if(search_by_itn.value !== ''){                    
                mod_contract_button.disabled = true;
                const is_id = 0            
                // console.log(start_date.value,end_date.value,search_by_itn.value,is_id)
                fetch(`/_get_subcontracts/${start_date.value}/${end_date.value}/${search_by_itn.value}/${is_id}`).then(function(response){                
                    response.json().then(function(data){             
                        for(let sub of data){                                      
                            search_field.value = sub.contract.internal_id              
                        }                   
                        searching()             
                        // initBackground()                              
                    });
                })
                .catch(error => console.log('in error',error) ); 
            }else{
                console.log('empty itn field')
            }                     

        }
    </script>


{% endblock %}

