{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %} 
          
<div class='col-md-12'>                      
    <h1 id='header_id'>{{header|safe}}</h1> 
    <!-- <h1 id='creating_id' style = 'visibility: hidden;'>Creating New Invoicing Group</h1>  -->
   
    {{ wtf.quick_form(form,id='modify_inv_group_form') }}
    <div>
        <input class="btn btn-primary" style='margin-bottom:30px ; font-size:150% ; width:300px' type="button" value="Create New Group" id="new_inv_group" onclick="createNewGroup()">        
    </div>
    <div>        
        <input class="btn btn-danger" style='margin-bottom:30px ; font-size:150% ; width:300px' type="submit" value="Apply Changes" id="apply_changes" onclick="ask_confirm('modify_inv_group_form')">
    </div> 
</div> 


{% endblock %}

{% block form_scripts %}
    <script type="text/javascript">
        // 
        const from_contractor = document.getElementById('from_contractor');
        const from_suffix = document.getElementById('from_suffix'); 
        const from_group = document.getElementById('from_group');     
        const from_description = document.getElementById('from_description');    
        const itns = document.getElementById('itns'); 
        const to_group = document.getElementById('to_group');     
        const to_description = document.getElementById('to_description'); 
        const to_contractor = document.getElementById('to_contractor');
        
        const to_contract = document.getElementById('to_contract');
        const to_email = document.getElementById('to_email');
        const new_group = document.getElementById('new_group');
        const apply_button = document.getElementById("apply_changes")
        const header = document.getElementById('header_id');
        
        const labels = document.querySelectorAll('.control-label')

        console.log('on loading', labels[1].textContent)

        window.onload = init()           

        from_contractor.onchange = function(){
            updateInvName(from_contractor, from_group, from_description)   
            apply_button.disabled = true;                 
        };
        
        from_group.onchange = function(){        
            updateGroupData(from_group, from_description)               
        };
        
        from_suffix.onkeyup = function(){        
            updateInvName(from_contractor, from_group, from_description)                     
        };
        
        itns.onchange = function(){
            applyButtonActivator()   
        }
        
        to_contractor.onchange = function(){        
            updateContracts() 
            apply_button.disabled = true;                          
        }; 

        to_contract.onchange = function(){          
            updateInvGroups()                  
        };

        to_group.onchange = function(){        
            updateGroupData(to_group, to_description, to_email) 
        };

        new_group.onkeyup = function(){

            // ^411-[\d]{1,3}-[\d]{1,5}_[\d]{1,3}$
            const regex = new RegExp(/^411-[\d]{1,3}-[\d]{1,5}_$/);
            if(regex.test(new_group.value)){
                console.log('regex matched')
                getFirstAvailableName(new_group.value)
            }else{
                console.log('regex not matched')
            }
            
        };

        to_description.onchange = function(){
            applyButtonActivator()
        }

        to_email.onchange = function(){
            applyButtonActivator()
        }
        
        function applyButtonActivator(){
            if(to_description.value !== '' 
            && (new_group.value !== '' || to_group.value !== '')
            && to_email.value !== '' 
            && to_email.value.includes('@') 
            && to_email.value.includes('.')
            && itns.value !== ''){
                apply_button.disabled = false;
            }
        }

        function updateContracts(){
            fetch('/_get_contracts/' + to_contractor.value)
            .then((resp) => resp.json())
            .then((data) => {   
                let optionHTML = '';
                let count = 0;
                for(let contract of data.contracts){                                                  
                    optionHTML += '<option value="' + contract.internal_id + '">' + contract.internal_id + ' - ' + contract.start_date + ' - ' + contract.end_date+ '</option>';                    
                    count += 1;
                }
                if(count >10){
                    count = 10;
                }                    
                to_contract.size = count;
                to_contract.innerHTML = optionHTML;
                updateInvGroups()
            });
            
        }

        function updateInvName(contractor_, group, description){
            
            fetch('/_get_contractor/' + contractor_.value).then(function(response){
                response.json().then(function(data){                
                    from_group.value = data.contractor[0].acc_411 + '_' + from_suffix.value
                    updateItns() 
                    updateGroupData(from_group, from_description)
                        
                });
            });            
        };

        function updateItns(){
            // console.log('updateItns',from_group.value)
            fetch('/_get_itns/' + from_group.value).then(function(response){
                
                response.json().then(function(data){
                    
                    let optionHTML = '';
                    let count = 0;
                    for(let itn of data.itns){                                                  
                        optionHTML += '<option value="' + itn.itn + '">' + itn.itn + ' - ' + itn.address + ' - ' + itn.invoice_group + ' - ' + itn.type + '</option>';                    
                        count += 1;
                    }
                    if(count >30){
                        count = 30;
                    }                    
                    itns.size = count;
                    itns.innerHTML = optionHTML;  
                    new_group.value = ''  
                            
                });
            }); 
        };
        
        function isEmptyGroup(){

            fetch('/_get_itns/' + from_group.value)
            .then((resp) => resp.json())
            .then((data) => {   
                if(data.itns.length !== 0){
                    from_group.value = 'There is such an invoicing group!'    
                } 
            });
        }

        function updateInvGroups(){

            console.log('in updateInvGroups', to_contract.value)       
            fetch('/_get_inv_groups/' + to_contract.value).then(function(response){
                response.json().then(function(data){
                    let optionHTML = ''
                    let count = 0;
                    for(let group of data.groups){                    
                        optionHTML += '<option value="' + group.invoice_group + '">' + group.invoice_group  + '</option>';
                        to_description.value = group.invoice_group_description
                        count += 1;
                    }  
                    to_email.value = data.groups[0].email                                             
                    to_group.size = count;
                    to_group.innerHTML = optionHTML; 
                    if(to_group.value === ''){
                        to_description.value = ''
                        to_email.value = ''
                        
                    }
                });
            });
        };

        function createNewGroup(){
        
            apply_button.disabled = true;
            to_group.value = ''
            new_group.value = ''
            to_description.value = ''
            to_email.value = ''
            header.innerText = 'Creating New Invoicing Group'           
            new_group.style = 'block'
            to_group.style = 'display:none'
            labels.forEach((label) => {               
                if(label.textContent == 'New Group'){                    
                    label.style = 'block'
                }else if(label.textContent == 'To Group'){
                    label.style = 'display:none'
                }
            });
            new_group.style.backgroundColor = '#ffffb3'
        }

        function getFirstAvailableName(inv_name){

            fetch('/_get_first_empty_inv_group/' + inv_name)
            .then((resp) => resp.json())
            .then((data) => {               
                if(data.groups[0] !== undefined){
                    // console.log(data.groups[0])
                    new_group.value = data.groups[0].name                
                }            
            });
        }

        function updateGroupData(inv_group_name, inv_group_descr, email = undefined){
            
            fetch('/_get_inv_group_data/' + inv_group_name.value)
            .then((resp) => resp.json())
            .then((data) => {              
                if(data.groups[0] !== undefined){                
                    inv_group_descr.value = data.groups[0].description                 
                    if(itns.value !== ''){
                        apply_button.disabled = false;
                    }                 
                    if(email !== undefined){
                        email.value = data.groups[0].email
                    }                
                }            
            });
        }
        
        function init(){
            updateItns()
            updateInvGroups()
            apply_button.disabled = true;  
            
            labels.forEach((label) => {               
                if(label.textContent == 'New Group'){                    
                    label.style = 'display:none'
                }
            });
        }
        
    </script>

{% endblock %}