{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %} 
    <!-- <div class='col-md-2'></div>              -->
    <div class='col-md-12'>                      
        <h1>Create Monthly Report {{erp}}</h1> 
       
        {{  wtf.quick_form(form, button_map={'submit': 'primary','submit_delete':'danger'})}} 
        
    </div> 
    <!-- <div class='col-md-2'> </div>     -->
{% endblock %}

{% block form_scripts %}
<script type="text/javascript">
    const search_field = document.getElementById('search')  
    const invoicing_label = document.getElementById('invoicing_label')   
    
    const contracts = document.getElementById('contracts')
    const contracts_options = contracts.querySelectorAll('option')
    const contracts_arr = Array.prototype.slice.call(contracts_options)
    const inv_labels_arr = Array.prototype.slice.call(invoicing_label.querySelectorAll('option'))
    const refs_arr = Array.prototype.slice.call(document.getElementById('ref_files').querySelectorAll('option'))
    const invoicing_group = document.getElementById('invoicing_group')
    const start_date = document.getElementById('start_datepicker');
    const end_date = document.getElementById('end_datepicker');  
    const labels = document.querySelectorAll('.control-label')    

    init()

    const binary_search = (array, target) => {
        let startIndex = 0;
        let endIndex = array.length - 1;
        while(startIndex <= endIndex) {
            let middleIndex = Math.floor((startIndex + endIndex) / 2);
            // console.log('target--->',target,'----->',array[middleIndex].value)
            if(target === parseInt(array[middleIndex].value)) {
                return  middleIndex
            }
            if(target > parseInt(array[middleIndex].value)) {
                // console.log("Searching the right side of Array")
                startIndex = middleIndex + 1;
            }
            if(target < parseInt(array[middleIndex].value)) {
                // console.log("Searching the left side of array")
                endIndex = middleIndex - 1;
            }            
        }
        return  -1        
    }

    invoicing_label.ondblclick = () =>{

        let selected_lbl = ''
        const lbls = invoicing_label.options.length;
        for (let i = 0; i < lbls; i++){            
            if (invoicing_label.options[i].selected === true){                
                selected_lbl = invoicing_label.options[i].text
                break;
            }            
        }        
        contracts_arr.forEach(display_all);
        fetch(`/_get_contracts_by_label/${selected_lbl}`).then(function (response) {
            response.json().then(function (data) {                
                
                for (let contract of data) {
                    // console.log('contract.id',contract.id)
                    const contr = contracts_options.length;                     
                    const idx = binary_search(contracts_arr,contract.id)
                    if(idx !== -1){
                        contracts_options[idx].selected = true
                    }                    
                }
                let counter = 0           
                for (let contract of contracts_arr) {
                    if(contract.selected !== true){
                        contract.style = 'display:none'
                    }else{
                        counter++
                    }
                }
                contracts.size = counter
                // contracts_arr.forEach(hide_unselected);
                
            });
        });
        
        searching()
    }

    contracts.onclick = () =>{
        if(document.getElementById('msg_close') !== null){
            document.getElementById('msg_close').click(); 
        }   
    }

    function hide_unselected(item,counter) {
        if(item.selected !== true){
            item.style = 'display:none'
        }
    }

    function display_all(item) {        
        item.style = 'block'
        item.selected = false      
    }
    
    function init(){
        
        if(search_field.value !== '' && search_field.value !== 'none'){
            searching()
        } 
        else{
            search_field.value = ''
        }
        invoicing_group.style = 'display:none' 
        contracts_arr.forEach(display_all);
        inv_labels_arr.forEach(display_all);
        refs_arr.forEach(display_all);
        initBackground()           
    }

    search_field.onkeyup = () => searching()
    
    contracts.ondblclick = () =>{        
        invoicing_group.style = 'block'       
    }

    search_field.onclick = () =>{
        if(document.getElementById('msg_close') !== null){
            document.getElementById('msg_close').click(); 
        } 
    }

    function searching(){
        
        let counter = 0;
        const key_word = search_field.value.toLowerCase()
        const form_date = new Date(start_date.value)
              
        contracts_options.forEach(opt => {
            const tokens = opt.firstChild.textContent.split(' - ')
            
            let curr_end_date = new Date(tokens[tokens.length - 1])
            let curr_start_date = new Date(tokens[tokens.length - 2])
            counter++;
            if(!opt.firstChild.textContent.toLowerCase().includes(key_word) ||
                (curr_end_date < form_date || curr_start_date >  form_date)){
                    opt.style = 'display:none'
                counter--;
                
            }else{
                opt.style = 'block'                
            }
        });
        if(counter === 0){
            contracts.opt = ''
        }
        if(counter >15){
            counter = 15;
        }   
        contracts.size = counter;
        initBackground()

    };


</script>
{% endblock %}