{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %} 
    <!-- <div class='col-md-2'></div>              -->
    <div class='col-md-12'>                      
        <h1>Create Monthly Report {{erp}}</h1> 
       
        {{  wtf.quick_form(form, button_map={'submit': 'primary','submit_delete':'danger'})}} 
        
    </div> 
    <!-- <div class='col-md-2'> </div>     -->
{% endblock %}

{% block form_scripts %}
<script type="text/javascript">
    const search_field = document.getElementById('search')    
    const values = document.querySelectorAll('option')
    const contracts = document.getElementById('contracts')
    const invoicing_group = document.getElementById('invoicing_group')

    init()

    contracts.onclick = () =>{
        if(document.getElementById('msg_close') !== null){
            document.getElementById('msg_close').click(); 
        }   
    }

    function init(){
        // document.getElementById('search').value = '' 
        if(search_field.value !== '' && search_field.value !== 'none'){
            searching()
        } 
        else{
            search_field.value = ''
        }
        invoicing_group.style = 'display:none'     
    }
    search_field.onkeyup = () => searching()
    
    contracts.ondblclick = () =>{        
        invoicing_group.style = 'block'       
    }

    search_field.onclick = () =>{
        if(document.getElementById('msg_close') !== null){
            document.getElementById('msg_close').click(); 
        } 
    }

    function searching(){
        // console.log(search_field.value)
        let counter = 0;
        const key_word = search_field.value.toLowerCase()
        // values.forEach(value => value.style = 'block')        
        values.forEach(value => {
            counter++;
            if(!value.firstChild.textContent.toLowerCase().includes(key_word)){
                value.style = 'display:none'
                counter--;
                
            }else{
                value.style = 'block'                
            }
        });
        if(counter === 0){
            contracts.value = ''
        }
        if(counter >15){
            counter = 15;
        }   
        contracts.size = counter;
        console.log(contracts.size)
        console.log(key_word)
        console.log(counter)
    };

</script>
{% endblock %}